# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
[Ll]ogs/
Build/
Builds/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
.vs/
.idea.ProjectWithcer/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.vs/ProjectWitcher/v15/Server/sqlite3/storage.ide-shm
.vs/ProjectWitcher/v15/Server/sqlite3/storage.ide-wal
*.ide-wal
Assets/OldScripts.meta
Assets/OldScripts/CharacterScripts.meta
Assets/OldScripts/CharacterScripts/Jump.cs
Assets/OldScripts/CharacterScripts/Jump.cs.meta
Assets/OldScripts/CharacterScripts/OldMovementController.cs
Assets/OldScripts/CharacterScripts/OldMovementController.cs.meta
Assets/OldScripts/CharacterScripts/OrbitCamera.cs
Assets/OldScripts/CharacterScripts/OrbitCamera.cs.meta
Assets/OldScripts/StaminaScale.meta
Assets/OldScripts/StaminaScale/Canvas.prefab
Assets/OldScripts/StaminaScale/Canvas.prefab.meta
Assets/OldScripts/StaminaScale/CharacterStats.cs
Assets/OldScripts/StaminaScale/CharacterStats.cs.meta
Assets/OldScripts/StaminaScale/staminaImg.jpg
Assets/OldScripts/StaminaScale/staminaImg.jpg.meta
Assets/OldScripts/StaminaScale/StaminaUsing.cs
Assets/OldScripts/StaminaScale/StaminaUsing.cs.meta
Assets/OldScripts/Test-Check.meta
Assets/OldScripts/Test-Check/AndriiBerezhnyi.cs
Assets/OldScripts/Test-Check/AndriiBerezhnyi.cs.meta
Assets/OldScripts/Test-Check/Feature.cs
Assets/OldScripts/Test-Check/Feature.cs.meta
Assets/OldScripts/Test-Check/test1.cs
Assets/OldScripts/Test-Check/test1.cs.meta
Assets/OldScripts/Test-Check/TestScript.cs
Assets/OldScripts/Test-Check/TestScript.cs.meta
Assets/OldScripts/Test-Check/VKozhinTestScript.cs
Assets/OldScripts/Test-Check/VKozhinTestScript.cs.meta
Assets/OldScripts/Unit.cs
Assets/OldScripts/Unit.cs.meta
.idea/.idea.RPG_Van_Helsing/.idea/encodings.xml
.idea/.idea.RPG_Van_Helsing/.idea/indexLayout.xml
.idea/.idea.RPG_Van_Helsing/.idea/misc.xml
.idea/.idea.RPG_Van_Helsing/.idea/modules.xml
.idea/.idea.RPG_Van_Helsing/.idea/vcs.xml
.idea/.idea.RPG_Van_Helsing/.idea/workspace.xml
.idea/.idea.RPG_Van_Helsing/riderModule.iml
.idea/.idea.RPG_Van_Helsing/.idea/contentModel.xml
Assets/Plugins/Editor/JetBrains.meta
Assets/Prefabs/Resources/Houses/OldHouse/House.fbm.meta
Assets/Prefabs/Resources/Houses/VillagePack/BigHouse/BigHouse.fbm.meta
Assets/Prefabs/Resources/Houses/VillagePack/OldHouse/OldHouse.fbm.meta
Assets/Prefabs/Resources/Houses/VillagePack/Well/Well.fbm.meta
Assets/Resources/Houses.meta
ProjectSettings/XRSettings.asset
*.lock
*.log
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1.log
.Logs/.
